<h1 mat-dialog-title>ALTERAR TAREFA</h1>
<div mat-dialog-content>Nome da tarefa</div>
<p></p>
<p>
  <mat-form-field appearance="outline">
    <mat-label>Legacy form field</mat-label>
    <input matInput placeholder="Placeholder">
  </mat-form-field>
</p>
<p>
  <mat-form-field appearance="outline">
    <mat-label>Fill form field</mat-label>
    <input matInput placeholder="Placeholder">
  </mat-form-field>
</p>
<p>
  <mat-form-field appearance="outline">
    <mat-label>Outline form field</mat-label>
    <input matInput placeholder="Placeholder">
  </mat-form-field>
</p>
<div mat-dialog-actions>
  <button mat-button class="example-button" >Mudar</button>
  <button mat-button color="warn" mat-dialog-close>Fechar</button> 
</div>

